<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/Judgin/static/css/about.css">
</head>
<body>
    <div class="nav">
        <a class="nav-link" href="home.html">Главная</a>
        <a class="nav-link" href="about_us.html">Об авторах</a>
        <a class="nav-link" href="#">Аналитика</a>
    </div>
    <div class="wrap">

        <div class="informBlock">
            <div class="symbol">
                <img src="/Judgin/static/images/Alex.jpg" alt="">
                <span class="point point1"></span>
                <span class="point point2"></span>
                <span class="point point3"></span>
                <span class="point point4"></span>
            </div>
            <div class="informText">
                <h5 class="mainText">Алексей Бузин</h5>
                <p class="secondText">Алексей наш главный разработчик, он разработал бэк нашего сайта</p>
            </div>
        </div>

        <div class="informBlock">
            <div class="symbol">
                <img src="/Judgin/static/images/Anna.jpg" alt="">
                <span class="point point1"></span>
                <span class="point point2"></span>
                <span class="point point3"></span>
                <span class="point point4"></span>
            </div>
            <div class="informText">
                <h5 class="mainText">Анна Разоренова</h5>
                <p class="secondText">Анна и Николай занимались аналитикой по собранной информации</p>
            </div>
        </div>

        <div class="informBlock">
            <div class="symbol">
                <img src="/Judgin/static/images/Nick.jpg" alt="">
                <span class="point point1"></span>
                <span class="point point2"></span>
                <span class="point point3"></span>
                <span class="point point4"></span>
            </div>
            <div class="informText">
                <h5 class="mainText">Николай Мемжанов</h5>
                <p class="secondText">Анна и Николай занимались аналитикой по собранной информации</p>
            </div>
        </div>

        <div class="informBlock">
            <div class="symbol">
                <img src="/Judgin/static/images/Evgen.jpg" alt="">
                <span class="point point1"></span>
                <span class="point point2"></span>
                <span class="point point3"></span>
                <span class="point point4"></span>
            </div>
            <div class="informText">
                <h5 class="mainText">Евгений Маняк</h5>
                <p class="secondText">Евгений и Дмитрий работали над визуальной оболочкой сайта</p>
            </div>
        </div>

        <div class="informBlock">
            <div class="symbol">
                <img src="/Judgin/static/images/Dmitry.jpg" alt="">
                <span class="point point1"></span>
                <span class="point point2"></span>
                <span class="point point3"></span>
                <span class="point point4"></span>
            </div>
            <div class="informText">
                <h5 class="mainText">Дмитрий Винниченко</h5>
                <p class="secondText">Евгений и Дмитрий работали над визуальной оболочкой сайта</p>
            </div>
        </div>
    </div>
    
</body>
</html>