<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/site_project/static/css/style.css">
    <link rel="image" href="/site_project/static/images/jobs5.jpg">
    <title>JobSearch</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <h1 class="header__title">HERE IS OUR GPUPPROJECT</h1>
      </div>
    </header>
    <div class="gradient"></div>

    <h1>Поиск вакансий</h1>
    <form action='/report'>
      <input placeholder = "Поиск по вакансии" requaired name="keyword"/>
      <button>Найти</button>
    </form>
  </body>
</html>