@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f4f4f4;
    color: #eee;
    line-height: 1.5;
    background: url(../images/bg.jpg);

}