@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f4f4f4;
    color: #eee;
    font-size: 14px;
    line-height: 1.5;
    background: url(../images/bg.jpg);

}
/* HEADER */
.header {
    background-color: #1A0b2e;
    position: relative;
    padding-top: 28px;
    padding-bottom: 28px;
    container-type: inline-size;
    container-name: header;
}

.header__title {
    margin: 0;
    color: #FFFFFF;
    font-size:24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.header__subtitle {
    margin: 0;
    color: #FFFFFF;
    font-size:18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.header__container {
    max-width: 1172px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
@container header (min-width: 800px) {
    .header__title {
        font-size: clamp(18px, 2cqw, 30px)
        justify-content: flex-start;
    }
    .header__title::before {
        width: 51px;
        height: 36px;
    }
    .header__title::after {
        display: none;
    }
}

header h1 {
    margin: 0;
    color: #0a0000;
    font-size:30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

}  
/* class nav */
.nav {
    text-align: center;
}
.nav-link {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #faf9f9;
}
.nav-link:hover {
    background-color: #1A0b2e;
}
/* Form */
.form {
    width: 500px;
    padding: 20px;
    margin: auto;
}
.form-input {
    padding: 5px;
    border: 1px solid rgb(122, 197, 240);
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}
.form-button {
    padding: 5px 10px;
    border: 1px solid rgb(122, 197, 240);
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}
.form-button:hover {
    background-color:rgb(122, 197, 240);
    cursor: pointer;
}
/* about us */
h1 {
    padding: 5px 10px;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}
.text_we {
    display: flex;
}