@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f4f4f4;
    color: #eee;
    line-height: 1.5;
    background: url(../images/bg.jpg);

}
/* HEADER */
.header {
    background-color: #1A0b2e;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
    container-type: inline-size;
    container-name: header;
}

.header__title {
    margin: 0;
    color: #FFFFFF;
    font-size:24px;
    font-weight: 400;
}
.header__subtitle {
    color: #FFFFFF;
    font-size:18px;
    font-weight: 700;
}
.header__container {
    max-width: 1172px;
    margin: 0 auto;
}
@container header (min-width: 800px) {
    .header__title {
        font-size: clamp(18px, 2cqw, 30px)
    }
    /* .header__title::before {
        width: 51px;
        height: 36px;
    }
    .header__title::after {
        display: none;
    } */
}

.search h1 {
    color: #ffffff;
    font-size:30px;
    font-weight: 700;
    text-transform: uppercase;
} 
.search {
    text-align: center;
    margin-top: 250px;
}
.result_color {
    color: white;

}
/* class nav */
.nav {
    text-align: center;
}
.nav-link {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #faf9f9;
    font-size: 20px;
}
.nav-link:hover {
    background-color: #1A0b2e;
}
/* Form */
.form {
    width: 500px;
    /* padding: 20px;
    margin: auto; */
}
.form-input {
    padding: 5px;
    border: 1px solid rgb(122, 197, 240);
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}
.form-button {
    padding: 5px 10px;
    border: 1px solid rgb(122, 197, 240);
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}
.form-button:hover {
    background-color:rgb(122, 197, 240);
    cursor: pointer;
}
/* about us */
h1 {
    padding: 5px 10px;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}
.text_we {
    display: flex;
}